# Environment Variables
# Kopyalayıp .env olarak kaydedin

# Database
DATABASE_URL="file:./dev.db"

# JWT Secret - Production'da güçlü bir key kullanın
JWT_SECRET="gpt-satis-super-secret-jwt-key-change-in-production-2024"

# IBAN Bilgileri
NEXT_PUBLIC_BANK_NAME="Ziraat Bankası"
NEXT_PUBLIC_IBAN="TR760001009010737415105005"
NEXT_PUBLIC_MONTHLY_PRICE="250"

# Cron Secret
CRON_SECRET="cron-secret-key-change-in-production"

# Email (Production için)
# SMTP_HOST="smtp.gmail.com"
# SMTP_PORT=587
# SMTP_USER="your-email@gmail.com"
# SMTP_PASS="your-app-password"

# Admin Seed
ADMIN_EMAIL="admin@gptsatis.com"
ADMIN_PASSWORD="Admin123!"
